In [8]:
import pandas as pd

In [9]:
import numpy as np

In [10]:
import warnings
warnings.filterwarnings("ignore")

In [11]:
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 200)
pd.set_option('display.max_colwidth', 100)

In [12]:
data_path = 'C:/Users/Hugo/Documents/BTS - MDSD/Big Data/data/DF-Data_twitter_vine/twitter-vine-clean.tsv.bz2'

rawdf = pd.read_csv('../../data/DF-Data_twitter_vine/twitter-vine-clean.tsv.bz2', sep='\t', compression='bz2')

In [14]:
print('Number of rows and columns:')
print(rawdf.shape)

See number of rows and number of columns:
(2129755, 22)

In [21]:
rawdf.describe()

print('See the top 2 lines:')
rawdf.head(2)

See the top 2 lines:

,created_at,tweet_id,text,source,favorited,retweeted,possibly_sensitive,lang,geo,coordinates,hashtags,urls,user_mentions,in_reply_to_user_id,retweet_count,user_id,user_name,user_location,user_followers_count,user_friends_count,user_created_at,user_verified
0,2013-01-28T13:41:54+00:00,295889441355071488,BBC News - Twitter launches Vine micro-video sharing service http://t.co/MykDuEgx,"<a href=""http://twitter.com/tweetbutton"" rel=""nofollow"">Tweet Button</a>",False,False,False,en,None,None,[],"[{'url': 'http://t.co/MykDuEgx', 'indices': [61, 81], 'display_url': 'bbc.in/148Grra', 'expanded...",[],None,0,632569755,Sherry Edwards,US,8,45,2012-07-11T02:01:19+00:00,False
1,2013-01-28T13:41:57+00:00,295889452121866241,“Vine” อลวน โป๊ระบาด-เฟซบุ๊กสั่งแบน-ทวิตเตอร์เซ็ง http://t.co/mIo9PO6t,"<a href=""http://www.facebook.com/twitter"" rel=""nofollow"">Facebook</a>",False,False,False,th,None,None,[],"[{'url': 'http://t.co/mIo9PO6t', 'indices': [50, 70], 'display_url': 'manager.co.th/Cyberbiz/Vie...",[],None,0,94285151,Keng KSPstudio,NaN,165,736,2009-12-03T08:18:58+00:00,False

In [24]:
print('Question 1 - Total number of tweets?')

rawdf.tweet_id.count()

Question 1 - Total number of tweets:

2129755

In [23]:
print('Question 2 - Total number of unique users?')

rawdf.user_id.count()

Question 2 - Total number of unique users:

2129755

In [35]:
print('Question 4 - How many tweets are geotagged (have latitude and longitude)?')

geodf = pd.DataFrame(rawdf.groupby(['geo']).apply(len))
geodf.sort(columns=[0], ascending=False).head()

Question 4 - How many tweets are geotagged (have latitude and longitude)?

                                                                      0
geo
None                                                            2114183
{'type': 'Point', 'coordinates': [0.0, 0.0]}                         74
{'type': 'Point', 'coordinates': [34.10162416, -118.32664847]}       64
{'type': 'Point', 'coordinates': [53.800651, -4.064941]}             38
{'type': 'Point', 'coordinates': [54.0633, -2.88424]}                32

In [36]:
print('Question 8 - Which is the most popular user_location?')

locdf = pd.DataFrame(rawdf.groupby(['user_location']).apply(len))
locdf.sort(columns=[0], ascending=False).head()

Question 8 - Which is the most popular user_location?

                     0
user_location
London           21250
New York, NY     12095
Los Angeles      11237
New York         10892
Los Angeles, CA   9456

In [37]:
print('We can see that the most common user location in our dataset is London with 21250 tweets')

We can see that the most common user location in our dataset is London with 21250 tweets